{% extends "base.html" %}

{% load static wagtailcore_tags %}
<!DOCTYPE html>
<html>
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="{% static '/home/css/home_page.css' %}" rel="stylesheet">
    </head>
    <h1 align = "center"> {{ page.course|richtext }} </h1>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="/home/">Home</a>
      <ul class="nav navbar-nav">
       <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Dropdown  <span class="caret"></span></a>
         <ul class="dropdown-menu" role="menu">
          <li><a href="#">Sub Menu1</a></li>
          <li><a href="#">Sub Menu2</a></li>
          <li><a href="#">Sub Menu3</a></li>
          <li class="divider"></li>
          <li><a href="#">Sub Menu4</a></li>
          <li><a href="#">Sub Menu5</a></li>
         </ul>
       </li>
       <li><a href="#">Link2</a></li>
       <li><a href="#">Link3</a></li>
       <li><a href="#">Link4</a></li>
       <li><a href="#">Link5</a></li>
      </ul>
    </div>
    <body> {{ page.body|richtext }} </body>
    
{% endblock %}



</html>
