{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/csweb.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link href="{% static '/home/css/home_page.css' %}" rel="stylesheet">
        </head>

        <div class="navbar navbar-inverse navbar-fixed-top">
          <a class="navbar-brand" href="/home/">Home</a>
          <ul class="nav navbar-nav">
           <li class="dropdown"><a href="/pai/" class="dropdown-toggle" data-toggle="dropdown">Programming Assignments <span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
              <li><a href="/pai/">Programming Assignment Index</a></li>
              {% for page in pa_pages %}
                {%with page=page.specific %}
                <li><a href="{{ page.url }}"> {{ page.title }} </a></li>
                {% endwith %}
              {% endfor %}
             </ul>
           </li>
           <li class="dropdown"><a href="/pai/" class="dropdown-toggle" data-toggle="dropdown"> Labs <span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
              <li><a href="/labi/"> Lab Index</a></li>
              {% for page in lab_pages %}
                {%with page=page.specific %}
                <li><a href="{{ page.url }}"> {{ page.title }} </a></li>
                {% endwith %}
              {% endfor %}
             </ul>
           </li>

          </ul>
        </div>
        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/csweb.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
